doctype html
html(lang='en', ng-app='FormApp', ng-controller='RootController')
  head
    meta(charset='UTF-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title(ng-bind="form_meta.display_title + '|Cloud4From.com'")
    script var FormMeta = !{JSON.stringify(form_meta)}
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(href='/_self_app/libs/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/_self_app/material/css/base.min.css', rel='stylesheet', type='text/css')
    link(href='/_self_app/material/css/project.min.css', rel='stylesheet', type='text/css')
    link(href='/_self_app/application/css/form_engine.css', rel='stylesheet', type='text/css')
    link(href='/_self_app/libs/css/starrr.css', rel='stylesheet', type='text/css')    
    style.
      html {
      touch-action: manipulation;
      }
    script(src='/_self_app/libs/js/angular.min.js', type='text/javascript')
    script(src='/_self_app/libs/js/angular-touch.js', type='text/javascript')
    script(src='/_self_app/libs/js/angular-sanitize.min.js', type='text/javascript')
    script(src='/_self_app/application/js/fc_android.js', type='text/javascript')
    script(src='/_static_app/js/ui_render_mobile.js', type='text/javascript')
    script(src='/_self_app/application/js/form_engine.js', type='text/javascript')
  body.page-brand    
    main.content
      .container
        .row
          .col-lg-6.col-lg-push-3.col-sm-10.col-sm-push-1(style='padding: 0px;')
            section.content-inner.margin-top-no
                    Page {{currentPage+1}}/{{aPages.length}}
                c:page(node='getPageModel()')    
    .fbtn-container(ng-if="aPages.length>1")
      .fbtn-inner
        a.fbtn.fbtn-sm.fbtn-brand-accent.waves-attach.waves-circle.waves-light.waves-effect(ng-click="nextPage()")
          span.fbtn-text.fbtn-text-left Links
          span.fbtn-ori.icon navigate_next
          span.fbtn-sub.icon close 
        span(style="padding-left: 10px;") {{currentPage+1}}/{{aPages.length}}
        a.fbtn.fbtn-sm.fbtn-brand-accent.waves-attach.waves-circle.waves-light.waves-effect(ng-click="prevPage()")
          span.fbtn-text.fbtn-text-left Links
          span.fbtn-ori.icon chevron_left
          span.fbtn-sub.icon close 
    #ui_dialog_confirm.modal.modal-va-middle.fade(aria-hidden='true', role='dialog', tabindex='-1')
      .modal-dialog.modal-xs
        .modal-content
          .modal-inner
            p.h5.margin-top-sm.text-black-hint Are you sure?
          .modal-footer
            p.text-right
              a.btn.btn-flat.btn-brand-accent.waves-attach.waves-effect(data-dismiss='modal', ng-click='Confirm.no()') NO
              a.btn.btn-flat.btn-brand-accent.waves-attach.waves-effect(data-dismiss='modal', ng-click='Confirm.yes()') YES
    script(src='/_self_app/material/js/jquery.min.js', type='text/javascript')
    script(src='/_self_app/libs/js/jquery-ui.min.js', type='text/javascript')
    script(src='/_self_app/libs/js/jquery.inputmask.js', type='text/javascript')
    script(src='/_self_app/libs/js/jquery.inputmask.extensions.js', type='text/javascript')
    script(src='/_self_app/libs/js/starrr.js', type='text/javascript')
    script(src='/_self_app/material/js/base.min.js', type='text/javascript')
