<h1 id="{{field._d}}" ng-if="field._a.type.value=='heading1'" style="text-align:{{field._a.align}}">{{field._a.title.value}} <small>{{field._a.subtitle.value}}</small></h1>
<h2 id="{{field._d}}" ng-if="field._a.type.value=='heading2'" style="text-align:{{field._a.align}}">{{field._a.title.value}} <small>{{field._a.subtitle.value}}</small></h2>
<h3 id="{{field._d}}" ng-if="field._a.type.value=='heading3'" style="text-align:{{field._a.align}}">{{field._a.title.value}} <small>{{field._a.subtitle.value}}</small></h3>

<h1 id="{{item._d}}" ng-if="item._a.type.value=='heading1'" style="text-align:{{item._a.align}}">{{item._a.title.value}} <small>{{item._a.subtitle.value}}</small></h1>
<h2 id="{{item._d}}" ng-if="item._a.type.value=='heading2'" style="text-align:{{item._a.align}}">{{item._a.title.value}} <small>{{item._a.subtitle.value}}</small></h2>
<h3 id="{{item._d}}" ng-if="item._a.type.value=='heading3'" style="text-align:{{item._a.align}}">{{item._a.title.value}} <small>{{item._a.subtitle.value}}</small></h3>