<h1 id="{{field._d}}" ng-if="field._a.type.value=='Style 1'" style="text-align:{{field._a.align.value}}">{{field._a.title.value}} <small>{{field._a.sub_title.value}}</small></h1>
<h2 id="{{field._d}}" ng-if="field._a.type.value=='Style 2'" style="text-align:{{field._a.align.value}}">{{field._a.title.value}} <small>{{field._a.sub_title.value}}</small></h2>
<h3 id="{{field._d}}" ng-if="field._a.type.value=='Style 3'" style="text-align:{{field._a.align.value}}">{{field._a.title.value}} <small>{{field._a.sub_title.value}}</small></h3>
<h4 id="{{field._d}}" ng-if="field._a.type.value=='Style 4'" style="text-align:{{field._a.align.value}}">{{field._a.title.value}} <small>{{field._a.sub_title.value}}</small></h4>

<h1 id="{{item._d}}" ng-if="item._a.type.value=='Style 1'" style="text-align:{{item._a.align.value}}">{{item._a.title.value}} <small>{{item._a.sub_title.value}}</small></h1>
<h2 id="{{item._d}}" ng-if="item._a.type.value=='Style 2'" style="text-align:{{item._a.align.value}}">{{item._a.title.value}} <small>{{item._a.sub_title.value}}</small></h2>
<h3 id="{{item._d}}" ng-if="item._a.type.value=='Style 3'" style="text-align:{{item._a.align.value}}">{{item._a.title.value}} <small>{{item._a.sub_title.value}}</small></h3>
<h4 id="{{item._d}}" ng-if="item._a.type.value=='Style 4'" style="text-align:{{item._a.align.value}}">{{item._a.title.value}} <small>{{item._a.sub_title.value}}</small></h4>