<div class="box"  id="{{item._d}}" ng-class="DesignerConfig.getSectionClass(item._a)">
    <div class="box-header with-border" ng-if="item._a.title.value" >
        <div class="box-title" contenteditable ng-model="item._a.title.value"></div>        
    </div>
    <div class="box-body" style="padding: 10px">
        <div class="row" style="list-style-type: none;padding-left: 0px;min-height: 100px;" 
             dnd-list="item._c"
             dnd-disable-if="item._l==true"
             dnd-drop="DesignerConfig.evtDropCallback(event, index, item, external, type)"
             dnd-allowed-types="['f','v']">
            <div class="{{DesignerConfig.clsSectionLayout(item, field)}}" 
                 ng-repeat="field in item._c"        
                 dnd-draggable="field"     
                 dnd-type="field._t"
                 dnd-horizontal-list="true"
                 dnd-effect-allowed="move"                 
                 dnd-moved="item._c.splice($index, 1)"
                 style="margin-bottom: 0px"
                 dnd-selected="DesignerConfig.itemSelected(field,item)"
                 ng-class="DesignerConfig.clsSelection(field)"
                 ng-include="'/_self/controls/' + field._n.toLowerCase() + '.html'">

            </div>
            <div class="dndPlaceholder col-sm-6">
                Drop any fields here.
            </div>
        </div>
    </div>
</div>