<div ng-switch="field._a.input_type.value" class="form-group" id="{{field._d}}">
    <label for="{{field._d}}">{{field._a.label.value}}</label>
    
    <input ng-switch-when="text"  ng-model="field._a.value.value" ng-if="!field._a.multi_line.value" type="text" class="form-control" placeholder="{{field._a.hints.value}}"> 
    
    <textarea ng-switch-when="text" class="form-control" ng-if="field._a.multi_line.value"  ng-model="field._a.value.value" placeholder="{{field._a.hints.value}}"></textarea>
    
    <div class="input-group" ng-switch-when="phone">        
        <input type="tel" class="form-control" ng-model="field._a.value.value" placeholder="{{field._a.hints.value}}" aria-describedby="phone">
        <span class="input-group-addon" ><i class="fa fa-phone"></i></span>
    </div>

    <div class="input-group" ng-switch-when="url">        
        <span class="input-group-addon" >http://</span>
        <input type="url" class="form-control" ng-model="field._a.value.value" placeholder="{{field._a.hints.value}}" aria-describedby="phone">        
    </div>
    
    <div class="input-group" ng-switch-when="email">        
        <span class="input-group-addon" ><i class="fa fa-envelope"></i></span>
        <input type="email" class="form-control" ng-model="field._a.value.value" placeholder="{{field._a.hints.value}}" aria-describedby="phone">        
    </div>

    <div class="input-group" ng-switch-when="currency">
        <span class="input-group-addon">$</span>               
        <input type="number" class="form-control" ng-model="field._a.value.value" placeholder="{{field._a.hints.value}}" aria-describedby="phone">        
        <span class="input-group-addon" >.00</span>
    </div>

    <div class="input-group" ng-switch-when="number">        
        <span class="input-group-addon" >#</span>
        <input type="number" class="form-control" ng-model="field._a.value.value" placeholder="{{field._a.hints.value}}" aria-describedby="phone">        
    </div>

</div>