doctype html
html(ng-app='ngAdmin') 
    head
        title=title         
        link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet')
        link(rel="stylesheet" href="/_static/libs/ace/css/bootstrap.min.css")
        link(rel="stylesheet" href="/_static/libs/ace/css/font-awesome.min.css")
        link(rel="stylesheet" href="/_static/libs/ace/css/animate.min.css")
        link(rel="stylesheet" href="/_static/libs/ace/css/bootstrap-switch.min.css")
        link(rel="stylesheet" href="/_static/libs/ace/css/checkbox3.min.css")
        link(rel="stylesheet" href="/_static/libs/ace/css/jquery.dataTables.min.css")
        link(rel="stylesheet" href="/_static/libs/ace/css/dataTables.bootstrap.css")
        link(rel="stylesheet" href="/_static/libs/ace/css/select2.min.css")
        link(rel="stylesheet" href="/_self/css/style.css")
        link(rel="stylesheet" href="/_self/css/timeline.css")
        link(rel="stylesheet" href="/_self/css/flat-blue.css")        
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDYSJ8fbbC-_NcpUKAUlp_bF9qdCWZjk8Y')
        script(src='/_static/js/Jsoops.js')
        script(src='/_static/js/snap.svg-min.js')
        script(src='/_static/libs/jquery/jquery.min.js')
        script(src='/_static/libs/angular/angular.min.js')
        
        script(src='/_static/libs/lodash/dist/lodash.core.min.js')
        script(src='/_static/libs/lodash/dist/lodash.min.js')
        
        script(src='/_static/libs/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js')
        
        script(src='/_static/libs/angular-resource/angular-resource.min.js')
        script(src='/_static/libs/angular-google-maps/dist/angular-google-maps.min.js')
        script(src='/_static/libs/angular-simple-logger/dist/angular-simple-logger.min.js')
        script(src='/_self/application.js')
        
        each valtl in ngCtl
            script(src='#{valtl}')
    body(ng-controller='RootController',class="flat-blue")
        include ../client/index.html
        
        script(src='/_static/libs/bootstrap/dist/js/bootstrap.min.js')        
        script( src="/_static/libs/ace/js/Chart.min.js")
        script( src="/_static/libs/ace/js/bootstrap-switch.min.js")
        script( src="/_static/libs/ace/js/jquery.matchHeight-min.js")
        script( src="/_static/libs/ace/js/jquery.dataTables.min.js")
        script( src="/_static/libs/ace/js/dataTables.bootstrap.min.js")
        script( src="/_static/libs/ace/js/select2.full.min.js")
        script( src="/_static/libs/ace/js/ace/ace.js")
        script( src="/_static/libs/ace/js/ace/mode-html.js")
        script( src="/_static/libs/ace/js/ace/theme-github.js")
        script( src="/_static/js/draw_chart_helper.js")
        script( src="/_self/js/index.js")
        script( src="/_self/js/app.js")