<div class="row" ng-controller="FormDesignController">
    <div class="col-sm-3"  style="padding: 0px;padding-right: 10px">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" class="no_link" data-parent="#accordion" href="#collapse1">Common Fields</a>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body accorContent" style="padding: 20px">
                        <ul style="list-style-type: none;padding: 5px">                            
                            <li ng-repeat="item in DesignerConfig.pallets.common"
                                dnd-draggable="item"
                                dnd-type="item._t"
                                dnd-effect-allowed="copy"
                                dnd-copied="generateId(event)"
                                >
                                <span class="btn btn-default btn-md" style="width: 100%;text-align: left">
                                    <i class="ca" ng-class="item._i"></i>
                                    {{DesignerConfig.formatText(item._n)}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Display Fields</a>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body accorContent">
                        <ul style="list-style-type: none;padding: 5px">                            
                            <li ng-repeat="item in DesignerConfig.pallets.display"
                                dnd-draggable="item"
                                dnd-type="item._t"
                                dnd-effect-allowed="copy"
                                dnd-copied="generateId(event)"
                                >
                                <span class="btn btn-default btn-md" style="width: 100%;text-align: left">
                                    <i class="ca" ng-class="item._i"></i>
                                    {{DesignerConfig.formatText(item._n)}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Advanced Fields</a>                        
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body accorContent">
                        <ul style="list-style-type: none;padding: 5px">                            
                            <li ng-repeat="item in DesignerConfig.pallets.advanced"
                                dnd-draggable="item"
                                dnd-type="item._t"
                                dnd-effect-allowed="copy"
                                dnd-copied="generateId(event)"
                                >
                                <span class="btn btn-default btn-md" style="width: 100%;text-align: left">
                                    <i class="ca" ng-class="item._i"></i>
                                    {{DesignerConfig.formatText(item._n)}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6  no-padding">
        <div class="col-sm-12">
            <div style="max-width: 80%;overflow: auto;display: inline-flex">
                <button class="btn btn-sm" ng-class="(DesignerConfig.CurrentPage == meta ? 'btn-info' : 'btn-default')" ng-repeat="(page,meta) in DesignerConfig.model" ng-click="DesignerConfig.CurrentPage = meta"><i class="fa fa-file-o"></i> Page #{{page}}</button>
            </div>
            <button class="btn btn-sm btn-default" ng-click="DesignerConfig.addPage()"><i class="fa fa-plus"></i> Page</button>
            <button class="btn btn-sm btn-default pull-right" ng-click="DesignerConfig.showPageManager()"><i class="fa fa-navicon"></i></button>
        </div>
        <div style="border: 1px dashed gray; padding: 5px" id="designerPane">
            <div class="col-sm-12">
                <div class="row"  style="list-style-type: none;padding-left: 0px;min-height: 200px" 
                     dnd-list="DesignerConfig.CurrentPage._c" 
                     dnd-drop="DesignerConfig.evtDropCallback(event, index, item, external, type)"
                     dnd-allowed-types="['p','v']" >
                    <div class="col-sm-12 no-padding" ng-repeat="item in DesignerConfig.CurrentPage._c"        
                         dnd-draggable="item"     
                         dnd-type="item._t"
                         dnd-horizontal-list="true"
                         dnd-effect-allowed="move"
                         dnd-moved="DesignerConfig.CurrentPage._c.splice($index, 1)"
                         dnd-selected="DesignerConfig.itemSelected(item,null)"
                         ng-class="DesignerConfig.clsSelection(item)"
                         ng-include="'/_self/controls/' + item._n.toLowerCase() + '.html'">

                    </div>
                    <div class="dndPlaceholder col-sm-12">
                        Drop <strong>Section</strong> here
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"  style="padding: 0px;padding-left: 10px">
        <div class="panel panel-default">
            <div class="panel-heading text-uppercase">
                Properties <strong class="text-lowercase">{{' #' + DesignerConfig.selected._d}}</strong>
            </div>
            <div class="panel-body accorContent2 no-padding">
                <div ng-show="DesignerConfig.selected" class="btn-group" role="group" aria-label="...">
                    <button type="button" ng-click="DesignerConfig.evtRemove()" class="btn btn-default btn-sm" title="Remove"><i class="fa fa-trash"></i></button>
                    <button type="button" ng-click="DesignerConfig.evtClone()" class="btn btn-default btn-sm" title="Clone"><i class="fa fa-copy"></i></button>
                    <button type="button" ng-click="DesignerConfig.evtLock()" class="btn btn-default btn-sm" title="{{DesignerConfig.selected._l?'Unlock Layout':'Lock Layout'}}"><i class="fa" ng-class="DesignerConfig.selected._l ? 'fa-unlock' : 'fa-lock'"></i></button>
                </div>
                <p ng-hide="DesignerConfig.selected" class="text-center">
                    <strong>No field is selected.</strong>
                </p>
                <table class="table table-borderless table-striped" style="font-size: 90%">
                    <tr ng-repeat="(p, v) in DesignerConfig.selected._a" ng-if="!v.hidden">

                        <td style="text-align: right;vertical-align: middle;padding: 2px;width: 40%;text-transform: uppercase">
                            <label>{{DesignerConfig.formatText(p)}}</label>
                        </td>
                        <td style="padding: 2px" ng-switch="DesignerConfig.selected._a[p].type">
                            <input ng-switch-when="boolean" ng-model='DesignerConfig.selected._a[p].value' type="checkbox" class="js-switch"/>

                            <input ng-switch-when="string" type="text" ng-model='DesignerConfig.selected._a[p].value' class="form-control">

                            <input ng-switch-when="date" type="date" ng-model='DesignerConfig.selected._a[p].value' class="form-control">

                            <input ng-switch-when="time" type="time" ng-model='DesignerConfig.selected._a[p].value' class="form-control">

                            <input ng-switch-when="number" type="number" step="{{DesignerConfig.selected._a[p].step}}" max="{{DesignerConfig.selected._a[p].max}}" min="{{DesignerConfig.selected._a[p].min}}" ng-model='DesignerConfig.selected._a[p].value' class="form-control">

                            <select class="form-control" ng-switch-when="options" ng-if="DesignerConfig.selected._a[p].list" ng-model="DesignerConfig.selected._a[p].value">                                
                                <option ng-repeat="i in DesignerConfig.selected._a[p].list">{{i}}</option>
                            </select>

                            <div class="input-group" ng-switch-when="list">        
                                <input type="text" value="{{DesignerConfig.selected._a[p].value.length?'Collection':'None'}}" class="form-control" disabled>
                                <span class="input-group-addon btn btn-info" ng-click="oOptionsEditor.showEditor(DesignerConfig.selected._a[p])" ><i class="fa fa-external-link"></i></span>
                            </div>

                            <div class="input-group" ng-switch-when="html">        
                                <input type="text" value="{{DesignerConfig.selected._a[p].value.length?'<html>':'None'}}" class="form-control" disabled>
                                <span ng-click="oRichEditorConfig.showEditor(DesignerConfig.selected._a[p])" class="input-group-addon btn btn-info" ><i class="fa fa-code"></i></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>        

    <div class="modal fade" tabindex="-1" role="dialog" id="modalHTMLContentEditor" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">        
                    <h4 class="modal-title">HTML Editor</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 no-margin">
                            <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
                                <div class="btn-group">
                                    <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                    </ul>
                                </div>

                                <div class="btn-group">
                                    <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-edit="fontSize 5">
                                                <p style="font-size:17px">Huge</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-edit="fontSize 3">
                                                <p style="font-size:14px">Normal</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-edit="fontSize 1">
                                                <p style="font-size:11px">Small</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="btn-group">
                                    <a class="btn btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                    <a class="btn btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                    <a class="btn btn-sm" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                                    <a class="btn btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                </div>

                                <div class="btn-group">
                                    <a class="btn btn-sm" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                                    <a class="btn btn-sm" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                                    <a class="btn btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                    <a class="btn btn-sm" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                                </div>

                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                                    <div class="dropdown-menu input-append">
                                        <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                                        <button class="btn btn-sm" type="button">Add</button>
                                    </div>
                                    <a class="btn btn-sm" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                                </div>

                                <div class="btn-group">
                                    <a class="btn btn-sm" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                                </div>

                                <div class="btn-group hidden">
                                    <a class="btn btn-sm" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                    <a class="btn btn-sm" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                </div>
                            </div>
                            <div id="editor" class="editor-wrapper"></div>
                            <!--<textarea name="descr" ng-model="_HTMLEditorData.newd" id="descr" style="height: 0px;width: 0px;opacity: 0"></textarea>-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="oRichEditorConfig.dialoag_cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="oRichEditorConfig.dialoag_ok()">OK</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="modalOptionsEditor" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">        
                    <h4 class="modal-title">Value Editor</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 no-margin">
                            <ul class="list-group">
                                <li class="list-group-item" ng-if="!oOptionsEditor.target.value.length">
                                    <div class="input-group">                                                        
                                        <span class="input-group-addon btn" ng-click="oOptionsEditor.insertItem(-1, '')" ><i class="fa fa-plus"></i></span>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-repeat="itn in oOptionsEditor.target.value track by $index">
                                    <div class="input-group">                
                                        <input type="text"  class="form-control" ng-model="oOptionsEditor.target.value[$index]" placeholder="option value">        
                                        <span class="input-group-addon btn" ng-click="oOptionsEditor.insertItem($index, itn)" ><i class="fa fa-plus"></i></span>
                                        <span class="input-group-addon btn" ng-click="oOptionsEditor.removeItem($index)" ><i class="fa fa-trash"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="oOptionsEditor.dialoag_cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="oOptionsEditor.dialoag_ok()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalPageManager" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">   
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Page Manager</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 no-margin" style="max-height: 400px;overflow: auto">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="(page,meta) in DesignerConfig.model">
                                    <div class="input-group">
                                        <div class="input-group-btn">                                            
                                            <button type="button" class="btn btn-default dropdown-toggle no-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scope <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">None</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Admin</a></li>
                                                <li><a href="#">User</a></li>
                                            </ul>
                                        </div>
                                        <input readonly ng-value="'Page #'+page" type="text" class="form-control" style="margin-top: 5px">
                                        <div class="input-group-btn">
                                            <button type="button" ng-click="DesignerConfig.removePage(page)" class="btn btn-danger no-margin"><i class="fa fa-trash"></i></button>                                           
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay_disabled" ng-show="EditDisabled">
        <h3>Design Mode locked</h3>
        <button class="btn btn-sm btn-info" ng-click="EditDisabled=false"><i class="fa fa-unlock"></i> UNLOCK</button>
    </div>
</div>
