<div class="row" ng-controller="FormDesignController">
    <div class="col-sm-3"  style="padding: 0px;padding-right: 10px">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" class="no_link" data-parent="#accordion" href="#collapse1">Common Fields</a>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body accorContent" style="padding: 20px">
                        
<!--                        <ul class="filed_block">
                            <li ng-repeat="item in Palette" 
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                dnd-copied="item.meta._a.id =item.meta._a.id + 1">
                                <div  ng-class="pv.class" class="filed_item">
                                    <input type="hidden" ng-value="pk">
                                    <span ng-class="item._i" class="fa" aria-hidden="true"></span>
                                    <span class="field_name">{{item._n}}</span>
                                </div>
                            </li>                                     
                        </ul>-->
                        
                        <ul>                            
                            <li ng-repeat="item in Palette"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                dnd-copied="item.meta._a.id =item.meta._a.id + 1"
                                >
                                <span class="btn btn-default btn-lg">
                                    <i class="fa" ng-class="item._i"></i>
                                    {{item._n}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Advanced Fields</a>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body accorContent">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Complex Fields</a>                        
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body accorContent">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6  no-padding">
        <div style="border: 1px dashed gray" id="designerPane">
            <div class="row">
                <div ng-init="list = oModelDesigned" class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel Heading</div>
                        <div class="panel-body">
                            <div ng-include="'/_self/controls/list.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"  style="padding: 0px;padding-left: 10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                Properties
            </div>
            <div class="panel-body accorContent2">
                <div class="form-group" ng-repeat="(p,v) in models.selected._a">
                    <label>{{p}}</label>
                    <input type="text" ng-model='models.selected._a[p]' class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>