<div class="row" ng-controller="FormFlowController">
    <div class="col-sm-8" style="min-height: 500px">
        <div id="grapContainer" style="height: 300px;overflow: auto;border: 2px dashed gray">
            <svg width="100%" height="100%"  preserveAspectRatio="xMaxYMax" id="formFlowDrawPane" ></svg>
        </div>
    </div>
    <div class="col-sm-4" >
        <div class="card" ng-show="SelectedNode">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">{{SelectedNode.model.name}}</div>
                </div>

                <div class="dropdown  pull-right no-padding">
                    <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i><i class="fa fa-sitemap"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="(f,m) in FlowFactory"><a class="text-uppercase" ng-click="AddNextAction(m)">{{formatText(f)}}</a></li>
                    </ul>
                </div>
                <button ng-hide="SelectedNode.type === 'create'" ng-click="deleteFlowAction()" title="Remove" class="btn btn-sm btn-default pull-right"><i class="fa fa-trash"></i></button>
                <button ng-hide="SelectedNode.edit" title="Edit" ng-click="SelectedNode.edit = true" class="btn btn-sm btn-default pull-right"><i class="fa fa-pencil"></i></button>
                <button ng-show="SelectedNode.edit" title="Save" ng-click="SelectedNode.edit = false" class="btn btn-sm btn-default pull-right"><i class="fa fa-floppy-o"></i></button>
            </div>
            <div class="card-body" style="min-height: 400px" id="flowDetailsHolder">
                <div class="row">
                    <div class="col-sm-12 no-margin-bottom" ng-repeat="(f,m) in SelectedNode.model.fields" ng-show="checkVisibleProp(m)">
                        <div class="sub-title no-margin-bottom">{{formatText(f)}}:</div>
                        <div>
                            <input ng-disabled="!SelectedNode.edit" type="text" ng-if="m.type == 'string'" ng-model="SelectedNode.model.fields[f].value" class="form-control" placeholder=""> 

                            <input ng-disabled="!SelectedNode.edit"  type="password" ng-if="m.type == 'password'" ng-model="SelectedNode.model.fields[f].value" class="form-control" placeholder=""> 

                            <input ng-disabled="!SelectedNode.edit"  type="number" ng-if="m.type == 'number'" min="{{m.min}}" ng-model="SelectedNode.model.fields[f].value" class="form-control" placeholder=""> 

                            <input ng-disabled="!SelectedNode.edit"  type="checkbox" ng-if="m.type == 'boolean'" ng-model="SelectedNode.model.fields[f].value" style="float: right;margin-top: -20px;"> 



                            <select ng-disabled="!SelectedNode.edit"  class="form-control" ng-model="SelectedNode.model.fields[f].value" ng-options="item.value as item.name for item in _gv[m.list]" ng-if="m.type == 'options' && !isArray(m.list)" ng-init="loadGlobalVar(m.list)">
                            </select>

                            <select  ng-disabled="!SelectedNode.edit"  class="form-control" ng-model="SelectedNode.model.fields[f].value" ng-if="m.type == 'options' && isArray(m.list)">
                                <option ng-repeat="v in m.list" ng-value="v">{{v}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
