<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
            <!-- Table -->
            <table class="table table-responsive table-hover table-striped table-fixedheader">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="30%">First Name</th>
                        <th width="30%">Last Name</th>
                        <th width="30%">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                        <td width="5%">1</td>
                        <td width="30%">Mark</td>
                        <td width="30%">Otto</td>
                        <td width="30%">@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>