<div class="row">
    <div class="col-sm-4">
        <div class="col-sm-12 no-margin">
            <div  class="btn-group number_view_sm" role="group">
                <label>Count</label>
                <label class="text-info">{{filtered.length}}/{{BaseData.elements.length}}</label>
            </div>
            <div class="btn-group pull-right" role="group" >                
                <div class="input-group stylish-input-group" title="Use field:your text, for more exact filter." style="width: 150px">
                    <input type="text" ng-model="formSearchText" id="formSearchText" class="form-control"  placeholder="Filter" >
                    <span class="input-group-addon" style="padding: 0px">
                        <button type="submit">
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 no-margin"  ng-style="DivTimeLineStyle">
            <div class="qa-message-list" id="wallmessages">
                <div class="message-item" ng-click="onSelectTimeLineItem(ele)" ng-repeat="ele in BaseData.elements | filter:TimeViewConfig.getFilterParam() as filtered">
                    <div class="message-inner">                    
                        <div class="qa-message-content">
                            <table class="table no-margin-bottom">
                                <tr ng-repeat=" hdr in BaseData.headers | limitTo:3">
                                    <td>{{hdr}}</td>
                                    <td>{{ele[hdr]}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center">...</td>
                                </tr>
                            </table>
                        </div>
                        <div class="message-head clearfix">
                            <div class="avatar pull-left"><a href="./#/Users"><img class="timeline" src="/_static/images/avatar_2x.png"></a></div>
                            <div class="user-detail">
                                <h5 class="handle">User Name</h5>
                                <div class="post-meta">
                                    <div class="asker-meta">
                                        <span class="qa-message-what"></span>
                                        <span class="qa-message-when">
                                            <span class="qa-message-when-data">Jan 21 2016 12:00</span>
                                        </span>
                                        <span class="qa-message-who">
                                            <span class="qa-message-who-pad">by </span>
                                            <span class="qa-message-who-data"><a href="./#/Users">user</a></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-sm-8">
        details
    </div>
</div>