<div class="col-sm-12" ng-controller="FormRecordsController">
    <table id="datatable-buttons" class="table table-bordered table-hover table-fixedheader table-condensed">
        <thead>
            <tr>
                <th align="center" class="text-upper text-center" ng-repeat="h in ['Id','Form','Version','Created Date','Created By','Stage','Status']">{{h}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in BaseData|filter:$parent.formFilterText">
                <td align="center" ng-bind="row.internal_id"></td>
                <td align="center" ng-bind="row.form_name"></td>
                <td align="center" ng-bind="row.version"></td>
                <td align="center" ng-bind="row.create_date"></td>
                <td align="center" ng-bind="UserMap[row.stage_history[0].user].name"></td>
                <td align="center" ng-bind="row.next_stage?row.next_stage._t+' PENDING':'FINISHED'"></td>
                <td align="center" ng-bind="row.next_stage?'IN PROGRESS':'COMPLETED'"></td>                
            </tr>            
        </tbody>
    </table>
</div>