<div class="container-fluid" ng-controller="DataManageController">
    <div class="side-body padding-top">
        <ul>
            <li>Create
                <ul>
                    <li>to Email</li>
                    <li>to User</li>
                    <li>to User Group</li>
                    <li>to API</li>
                    <li>to Printable</li>
                    <li>to File</li>
                    <li>to Wall/Display</li>
                    <li>to Dashboard</li>
                    <li>to Notification</li>
                </ul>
            </li>
        </ul>
    </div>
</div>