<div class="container-fluid" ng-controller="FormDataController">
    <div class="side-body padding-top">
        <div class="row">
            <div class="col-sm-12 no-padding" ng-init="tabSelect = 0">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <!--<li class="pull-left" style="padding-left: 30px;padding-right: 20px"><button style="margin-top: 4px" class="btn btn-sm">New</button></li>-->
                        <li ng-class="tabSelect == 0 ? 'active' : ''"><a ng-click="tabSelect = 0" href="javascript:void(0);" data-toggle="tab"><i class="fa fa-bar-chart"></i> Analytics</a></li>
                        <li ng-class="tabSelect == 1 ? 'active' : ''"><a href="javascript:void(0);"  ng-click="tabSelect = 1" data-toggle="tab"><i class="fa fa-table"></i> Records</a></li>
                        <li ng-class="tabSelect == 2 ? 'active' : ''"><a href="javascript:void(0);"  ng-click="tabSelect = 2;MapViewConfig.init(true)" data-toggle="tab"><i class="fa fa-map"></i> Map View</a></li>
                    </ul>
                    <div class="tab-content small_view">
                        <div class="tab-pane active" ng-show="tabSelect == 0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-sm btn-info" ng-click="FormChart.createNewChart()">New</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" ng-repeat="chart in FormChart.list">
                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title" ng-bind="chart.title"></h3>

                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-toggle="dropdown"><i class="fa fa-pie-chart"></i></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0)" ng-click="chart.type = 'pie'">PIE</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="chart.type = 'bar'">BAR</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="chart.type = 'polarArea'">POLAR AREA</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="chart.type = 'radar'">RADAR</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="chart.type = 'doughnut'">DOUGHNUT</a></li>
                                                </ul>
                                                <button type="button" ng-click="FormChart.download('chart_canvas_' + $index)" data-toggle="tooltip" title="Print" class="btn btn-box-tool"><i class="fa fa-download"></i></button>
                                                <button type="button" ng-click="FormChart.removeChart(chart)" data-toggle="tooltip" title="Delete" class="btn btn-box-tool"><i class="fa fa-trash"></i></button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <canvas id="chart_canvas_{{$index}}" class="chart-base" chart-type="chart.type" chart-data="chart.data" chart-colors="chart.colors" chart-options="FormChart.options" chart-labels="chart.labels">                                        
                                            </canvas>
                                        </div>

                                        <div class="box-footer no-border">
                                            <div class="row" ng-hide="data.edit">
                                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                    <input type="text" class="knob" data-readonly="true" val="chart.total" data-width="60" data-height="60" data-fgColor="#39CCCC">
                                                    <div class="knob-label">Total</div>
                                                </div>
                                                <!-- ./col -->
                                                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                                    <input type="text" class="knob" data-readonly="true" val="chart.sum" data-width="60" data-height="60" data-fgColor="#39CCCC">
                                                    <div class="knob-label">Sum</div>
                                                </div>
                                                <!-- ./col -->
                                                <div class="col-xs-4 text-center">
                                                    <input type="text" class="knob" data-readonly="true" val="chart.avg" data-width="60" data-height="60" data-fgColor="#39CCCC">
                                                    <div class="knob-label">Average</div>
                                                </div>
                                                <!-- ./col -->
                                            </div>
                                            <!-- /.row -->
                                            <button ng-show="data.edit" class="btn btn-success" ng-click="ChartViewConfig.saveField(data);"><i class="fa fa-floppy-o"></i> OK</button>
                                            <button ng-show="data.edit" class="btn btn-danger" ng-click="data.edit = false"><i class="fa fa-trash"></i> Cancel</button>

                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active"  ng-show="tabSelect == 1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Form Entries Table ({{FormData.list.length}})</h3>

                                            <div class="box-tools">

                                                <div class="input-group input-group-sm" style="width: 350px;">
                                                    <input type="text" ng-model="formDataFilterText" name="table_search" class="form-control pull-right" placeholder="Search">
                                                    <div class="input-group-btn">
                                                        <button type="submit" class="btn btn-default" ng-click="FormData.search()"><i class="fa fa-search"></i></button>
                                                        <button class="btn btn-info btn-sm"><i class="fa fa-plus"></i> New</button>
                                                        <button class="btn btn-info btn-sm"><i class="fa fa-upload"></i> Bulk</button>
                                                        <a class="btn btn-info btn-sm" href="/service/forms/excelexport?id={{oCurrenctFormMeta.value}}"><i class="fa fa-file-excel-o"></i> Export</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover" ng-table="FormData.table">
                                                <tr ng-repeat="row in $data">
                                                    <td data-title="'ID'"  ><a href="javascript:void(0)" ng-click="FormData.select(row)" ng-bind="row.internal_id"></a></td>
                                                    <td data-title="'Form Name'"   ng-bind="row.form_name"></td>
                                                    <td data-title="'Version'"   ng-bind="row.version"></td>
                                                    <td data-title="'Create Date'"   ng-bind="row.create_date|date"></td>
                                                    <td data-title="'Create User'"   ><a href="/#/Users::{{row.stage_history[0].user}}" ng-click="$parent.reload()" ng-bind="UserMap[row.stage_history[0].user].name"></a></td>
                                                    <td data-title="'Stage Status'"   ><span class="label" ng-class="row.next_stage ? 'label-danger' : 'label-success'" ng-bind="row.next_stage ? row.next_stage._t + ' PENDING' : 'FINISHED'"></span></td>
                                                    <td data-title="'Form Status'"   ><span class="label" ng-class="row.next_stage ? 'label-danger' : 'label-success'" ng-bind="row.next_stage ? 'IN PROGRESS' : 'COMPLETED'">Denied</span></td>                
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active"  ng-show="tabSelect == 2">
                            <div class="row" style="padding-left: 40px">
                                <div class="col-sm-2">
                                    <div class="has-feedback">
                                        <input type="text" ng-model="formMapText" class="form-control input-sm" placeholder="Search...">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div  class="btn-group number_view_sm" role="group">
                                        <label>Count</label>
                                        <label class="text-info" ng-bind="FormData.list.length"></label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div  class="btn-group number_view_sm" role="group">
                                        <label>Stage:</label>
                                        <select ng-model="MapViewConfig.curStage">
                                            <option value="{{m.key}}" ng-repeat="m in MapViewConfig.flow">Stage({{m.key}}) - {{m.value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 scroll_view">

                                    <ul class="timeline">
                                        <li ng-repeat="fd in FormData.list|filter:formMapText">
                                            <i class="fa fa-map-marker bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"></i> {{fd.create_date|date}}</span>

                                                <h3 class="timeline-header" ng-click="MapViewConfig.selected(fd)"><a href="javascript:void(0)">{{fd.internal_id|uppercase}}</a></h3>

                                                <div class="timeline-body">
                                                    <small ng-if="fd.next_stage" class="label label-danger pull-right">In Progress</small>
                                                    <small ng-if="!fd.next_stage" class="label label-success pull-right">Completed</small>
                                                    <p>v{{fd.version}}</p>
                                                    <p>Stage: <strong ng-bind="fd.next_stage ? fd.next_stage._t + ' PENDING' : 'FINISHED'"></strong></p>
                                                </div>

                                                <div class="timeline-footer">
                                                    <div class="user-block">
                                                        <img class="img-circle" ng-src="/service/avtar?_s=100&_u={{UserMap[fd.stage_history[0].user]._id}}" alt="User Image">
                                                        <span class="username"><a href="#">{{UserMap[fd.stage_history[0].user].first_name}}</a></span>
                                                        <span class="description">Uploaded publicly</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div  class="col-sm-8" ng-if="tabSelect == 2">
                                    <ui-gmap-google-map center="MapViewConfig.config.center" zoom="MapViewConfig.config.zoom" refresh="true" events="MapViewConfig.config.events">
                                        <ui-gmap-marker ng-repeat="m in MapViewConfig.config.markers" coords="m.coords" idkey="m.id"></ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="modalNewAnalytics" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">        
                    <h4 class="modal-title">New Analytics</h4>
                </div>
                <div class="modal-body">
                    <p ng-show="FormChart.error" class="bg-red text-white text-center">Some values are missing or incorrect.</p>
                    <div class="row">
                        <div class="col-md-6 no-margin">
                            <div class="form-group">
                                <label for="usr">Name:</label>
                                <input type="text" ng-model="FormChart.newChart.name" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Field Name:</label>
                                <select class="form-control" ng-model="FormChart.newChart.field">
                                    <option value="">---Select Field---</option>
                                    <option value="{{op.id}}" ng-repeat="op in FormFields.map[oCurrenctFormMeta.value]">{{op.label}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 no-margin">
                            <div class="form-group">
                                <label for="usr">Chart Type:</label>
                                <select class="form-control" ng-model="FormChart.newChart.type">
                                    <option value="pie">Pie Chart</option>
                                    <option value="bar">Bar Chart</option>
                                    <option value="radar">Radar Chart</option>
                                    <option value="doughnut">Doughnut</option>
                                    <option value="polarArea">Polar Area</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p>Provide require details here to create new analytics for fields.</p>
                            </div>
                        </div>
                    </div>
                    <label for="usr"><button class="btn btn-sm btn-info" ng-click="FormChart.addCondition()"><i class="fa fa-plus"></i></button> Filters</label>
                    <div class="row" ng-repeat="cond in FormChart.newChart.conditions" style="margin-bottom: 5px">
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="cond.type">
                                <option value="gt">Greater Than (>)</option>
                                <option value="lt">Greater Than (<)</option>
                                <option value="eq">Equal To (=)</option>
                                <option value="nq">Not Equal TO (<&gt;)</option>
                                <option value="cnt">Contains</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text"  ng-model="cond.value" placeholder="Value" class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-sm btn-danger" ng-click="FormChart.removeCondition($index)"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="FormChart.cancelCreate()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="FormChart.saveNewAnalytics()">Save</button>
                </div>
            </div>
        </div>
    </div>
    
     <div class="modal fade" tabindex="-1" role="dialog" id="viewFormModal" aria-hidden="true" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">        
                    <h4 class="modal-title">{{FormDataView.selected.form_name}}-{{FormDataView.selected.internal_id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <pre:page node="FormDataView.getPageModel()"></pre:page>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ng-click=""><<</button>
                    1/2
                    <button type="button" class="btn btn-warning" ng-click="">>></button>
                    
                    
                    
                    <button type="button" class="btn btn-primary" style="visibility: hidden" ng-click="">Save</button>
                    <button type="button" class="btn btn-primary" ng-click="">Print</button>
                    <button type="button" class="btn btn-primary" ng-click="">Export</button>
                    <button type="button" class="btn btn-default" ng-click="">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
