<div class="row" ng-controller="FormController">
    <div class="col-sm-3">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Forms</h3>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <input type="text" ng-model="formFilterText" class="form-control input-sm" placeholder="Filter...">
                        <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                    </div>                    

                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body small_view">
                <div class="mailbox-controls">
                    <div class="btn-group">
                        <button title="Delete Form" ng-click="onDeleteForm()" ng-disabled="!SelectedFormMeta || SelectedFormMeta.state == 3" type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button title="Clone Form" ng-click="onCloneForm()" ng-disabled="!SelectedFormMeta" type="button" class="btn btn-default btn-sm"><i class="fa fa-copy"></i></button>
                        <button title="Create New Form" type="button" ng-click="onCreateForm()" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button title="Refresh List" type="button" ng-click="loadFormMeta()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div  class="btn-group number_view_sm" role="group">
                        <label>Count</label>
                        <label class="text-info" ng-bind="FormMetaList.length || 0"></label>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" disabled class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="small-box" ng-class="frm.state == 1 ? 'bg-aqua' : 'bg-gray'"  ng-repeat="frm in FormMetaList | filter:{form_name:formFilterText}">

                    <div class="dropdown pull-left">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="javascript:void(0)" ng-click="stageChange('');onSelectForm(frm);stageChange('EDIT')">Edit</a></li>
                            <li><a href="javascript:void(0)" ng-click="onSelectForm(frm);stageChange('HIST')">History</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-if="frm.state == 1"><a href="#">Deactivate</a></li>
                            <li ng-if="frm.state != 1"><a href="#">Activate</a></li>
                        </ul>
                    </div>

                    <div class="inner">
                        <h3>{{frm.form_name}} <small>{{"v" + frm.version}}</small></h3>
                        <p>{{frm.history.created.date|date}}</p>
                        <p><span class="label label-warning" ng-if="frm.state == 0">New</span>
                            <span class="label label-danger" ng-if="frm.state == 2">Inactive</span>
                            <span class="label label-success" ng-if="frm.state == 1">Active</span>
                            <span class="label label-info" ng-if="frm.state == 3">Suspended</span></p>
                    </div>

                    <div class="icon">
                        <span class="fa-stack" style="font-size: 65%">
                            <i class="fa fa-file-o fa-stack-2x"></i>
                            <i class="fa fa-line-chart fa-stack-1x"></i>
                        </span>
                    </div>
                    <a href="javascript:void(0);" ng-click="onSelectForm(frm);stageChange('DATA')" class="small-box-footer">
                        Records <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- /.box-body -->
            <div ng-show="_loadingForms" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.box -->        
    </div>


    <div class="col-sm-3"   ng-show="sCurrentStage=='NEW'">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">New Form</h3>
                <div class="box-tools pull-right">
                    <div class="box-tools pull-right">
                        <button type="button" ng-click="NewFormMeta = null" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                    </div>                  
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label for="usr">Form Name:</label>
                    <input type="text" ng-model="NewFormMeta.form_name" class="form-control" id="usr">
                </div>
                <button class="btn btn-success col-sm-12" ng-click="onSaveNewForm()">Save & Design</button>
            </div><!-- /.box-body -->
            <div ng-show="_creatingForms" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.box -->
    </div>


    <div class="col-sm-9"   ng-show="sCurrentStage=='DATA'">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title text-uppercase">
                    <span class="fa-stack" style="font-size: 45%">
                        <i class="fa fa-file-o fa-stack-2x"></i>
                        <i class="fa fa-line-chart fa-stack-1x"></i>
                    </span> {{SelectedFormMeta.form_name}}</h3>
                <div class="box-tools pull-right">
                    <div class="box-tools pull-right">
                        <button type="button"  ng-click="SelectedFormMeta = null;stageChange('')" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                    </div>                  
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body small_view">
                <div class="row" ng-controller="FormRecordsController">
                    <div class="col-sm-12">
                        <div class="btn-toolbar" role="toolbar" >
                            <div class="btn-group" role="group" >
                                <button ng-click="switchView('TABLE')" type="button" class="btn" ng-class="_selectedView == 'TABLE' ? 'btn-info' : 'btn-default'"><i class="fa fa-table"></i></button>
                                <button ng-click="switchView('MAP')" type="button" class="btn" ng-class="_selectedView == 'MAP' ? 'btn-info' : 'btn-default'"><i class="fa fa-map-marker"></i></button>                
                                <button ng-click="switchView('TIME')" type="button" class="btn" ng-class="_selectedView == 'TIME' ? 'btn-info' : 'btn-default'"><i class="fa fa-clock-o"></i></button>
                                <button ng-click="switchView('CHART')" type="button" class="btn" ng-class="_selectedView == 'CHART' ? 'btn-info' : 'btn-default'"><i class="fa fa-pie-chart"></i></button>                
                            </div>

                            <div  class="btn-group number_view_sm" role="group">
                                <label>Count</label>
                                <label class="text-info" ng-bind="BaseData.elements.length"></label>
                            </div>

                            <div class="btn-group pull-right">
                                <div class="input-prepend input-group" style="display: inline-flex;">
                                    <span class="add-on input-group-addon" style="width: 40px"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                    <input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="03/18/2013 - 03/23/2013" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div ng-include="currentPage"></div>
                    </div>

                </div>
            </div><!-- /.box-body -->
            <div ng-show="_creatingForms" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.box -->
    </div>

    <div class="col-sm-9" ng-if="sCurrentStage=='EDIT'">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">                
                <li style="padding: 0px 65px"><h4 class="text-uppercase">{{SelectedFormMeta.form_name}}</h4></li> 
                <li ng-class="(SelectedFormView == 2 ? 'active' : '')" class="active"><a  ng-click="SelectedFormView = 1" data-toggle="tab">Data Flow</a></li>
                <li ng-class="(SelectedFormView == 3 ? 'active' : '')"><a  ng-click="SelectedFormView = 2" data-toggle="tab">Design</a></li>           
                <li class="pull-right"><a href="javascript:void(0)" ng-click=";stageChange('')" class="text-muted"><i class="fa fa-remove"></i></a></li>
                <li class="pull-right"><a href="javascript:void(0)" title='Save Changes' ng-click="onUpdateForm()" class="btn btn-success"><i class="fa fa-floppy-o"></i></a></li>
            </ul>
            <div class="tab-content small_view">
                <div class="tab-pane active" id="tab_1">
                    <div  ng-include="sPages[SelectedFormView-1]"></div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>

</div>