<div class="" ng-controller="FormController">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-3 col-xs-12 widget widget_tally_box" ng-hide="SelectedFormMeta && SelectedFormView > 0">
            <div class="x_panel small_view">
                <div class="x_title">
                    <div class="col-xs-3">
                        <h2>Forms</h2>   
                    </div>
                    <div class="col-xs-9">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="formFilterText" placeholder="Filter" style="border-radius: 20px 0px 0px 20px;">
                            <span class="input-group-btn">
                                <button ng-click="onCreateForm()" class="btn btn-default btn-success no-margin" type="button"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="list-group">
                        <a href="javascript:void(0)"   ng-click="onSelectForm(frm)" class="list-group-item" ng-class="SelectedFormMeta == frm ? 'active' : ''" ng-repeat="frm in FormMetaList|filter:{form_name:formFilterText}">
                            <h3 class="list-group-item-heading text-uppercase">
                                <span class="fa-stack" style="color:lightgray">
                                    <i class="fa fa-file-o fa-stack-2x"></i>
                                    <i class="fa fa-line-chart fa-stack-1x"></i>
                                </span>&nbsp;
                                {{frm.form_name}}<small class="pull-right" style="font-size: 50%">{{frm.history.created.date|date}}</small>
                            </h3>
                            <div class="list-group-item-text">
                                <div class="col-xs-6 text-warning">&nbsp;</div>
                                <div class="col-xs-6 text-right text-success">{{frm.history.created.user}}</div>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-12 widget widget_tally_box" ng-show="NewFormMeta">
            <div class="x_panel small_view">
                <div class="x_title">
                    <h2>{{NewFormMeta.form_name}}</h2>
                    <ul class="nav navbar-right panel_toolbox">                       
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="close-link" ng-click="NewFormMeta = null;"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">                    
                    <div class="form-group">
                        <label for="usr">Form Name:</label>
                        <input type="text" ng-model="NewFormMeta.form_name" class="form-control" id="usr">
                    </div>
                    <button class="btn btn-success" ng-click="onSaveNewForm()">Create</button>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-12 widget widget_tally_box" ng-show="SelectedFormMeta">
            <div class="x_panel small_view">
                <div class="x_title">
                    <h2>{{SelectedFormMeta.form_name}}</h2>
                    <ul class="nav navbar-right panel_toolbox">                       
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:void(0)">Edit Form</a></li>
                                <li><a href="javascript:void(0)">Deactivate</a></li>
                            </ul>
                        </li>
                        <li><a class="close-link" ng-click="SelectedFormMeta = null;SelectedFormView = 0"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">                    
                    <div style="text-align: center; margin-bottom: 17px">
                        <canvas id="mybarChart"></canvas>
                    </div>
                    <div style="text-align: center; margin-bottom: 17px">
                        <div class="btn-group" role="group">
                            <button title="Data View" type="button" ng-style="SelectedFormView == 1 ? {'border-bottom': '3px solid'} : {}" ng-click="SelectedFormView = 1" class="btn btn-default">
                                <span class="fa-stack">
                                    <i class="fa fa-file-o fa-stack-2x"></i>
                                    <i class="fa fa-database fa-stack-1x"></i>
                                </span>
                            </button>
                            <button title="Flow Design" type="button" ng-style="SelectedFormView == 2 ? {'border-bottom': '3px solid'} : {}" ng-click="SelectedFormView = 2" class="btn btn-default">
                                <span class="fa-stack">
                                    <i class="fa fa-file-o fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-rotate-270 fa-stack-1x"></i>
                                </span>
                            </button>
                            <button title="Form Design" type="button" ng-style="SelectedFormView == 3 ? {'border-bottom': '3px solid'} : {}" ng-click="SelectedFormView = 3" class="btn btn-default">
                                <span class="fa-stack">
                                    <i class="fa fa-file-o fa-stack-2x"></i>
                                    <i class="fa fa-object-ungroup fa-stack-1x"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <h3 class="name_title">{{SelectedFormMeta.form_name}}</h3>
                    <p style="font-size: 75%" class="text-muted">Created by {{SelectedFormMeta.history.created.user}} on {{SelectedFormMeta.history.created.date|date}}</p>
                    <div class="divider"></div>
                    <div id="historyContainerId" style="padding: 5px">
                        <ul class="list-unstyled timeline">
                            <li ng-repeat="hist in SelectedFormMeta.history.modified">
                                <div class="block" style="margin-left: 0px">
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Form Modified</a>
                                        </h2>
                                        <div class="byline">
                                            <span>{{hist.date|date}}</span> by <a>{{hist.user}}</a>
                                        </div>
                                        <p class="excerpt">{{hist.action}}</p>
                                    </div>
                                </div>
                            </li>                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Data View-->
        <div class="col-md-9 col-xs-12 widget_tally_box" ng-show="SelectedFormMeta && SelectedFormView == 1">
            <div class="x_panel large_view">
                <div class="x_title">
                    <h2>
                        <span class="fa-stack">
                            <i class="fa fa-file-o fa-stack-2x"></i>
                            <i class="fa fa-database fa-stack-1x"></i>
                        </span>
                        Data View
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">                       
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="close-link" ng-click="SelectedFormView = 0"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div  ng-include="sPages.data"></div>
                </div>
            </div>
        </div>

        <!--Flow View-->
        <div class="col-md-9 col-xs-12 widget_tally_box" ng-show="SelectedFormMeta && SelectedFormView == 2">
            <div class="x_panel large_view">
                <div class="x_title">
                    <h2>
                        <span class="fa-stack">
                            <i class="fa fa-file-o fa-stack-2x"></i>
                            <i class="fa fa-sitemap fa-rotate-270 fa-stack-1x"></i>
                        </span>
                        Flow View
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">                       
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="close-link" ng-click="SelectedFormView = 0"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <button id="flowSaveButton" class="btn btn-success pull-right" ng-click="onUpdateForm('Form work flow changed.')">Save</button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="overflow: hidden">
                    <div  ng-include="sPages.flow"></div>
                </div>                
            </div>            
        </div>

        <!--Design View-->
        <div class="col-md-9 col-xs-12 widget_tally_box" ng-show="SelectedFormMeta && SelectedFormView == 3">
            <div class="x_panel large_view">
                <div class="x_title">
                    <h2>
                        <span class="fa-stack">
                            <i class="fa fa-file-o fa-stack-2x"></i>
                            <i class="fa fa-object-ungroup fa-stack-1x"></i>
                        </span>
                        Design View
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">                       
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="collapse-link" style="visibility: hidden"><i class="fa fa-chevron-right"></i></a></li>
                        <li><a class="close-link" ng-click="SelectedFormView = 0"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <button class="btn btn-success pull-right" ng-click="onUpdateForm('Form design changed.')">Save</button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div  ng-include="sPages.design"></div>
                </div>
            </div>
        </div>
    </div>
</div>