<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Settings</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><i class="fa fa-desktop"></i> Device Application
                            <span class="label label-primary pull-right">12</span></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> Email Templates</a></li>
                    <li><a href="#"><i class="fa fa-chain"></i> Notifications</a></li>
                    <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
                    </li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
                </ul>
                <ul>
                    <li>Device Application
                        <ol>
                            <li>Device configurations > theme, auth, barcode, download link, features </li>
                            <li>Active devices</li>
                            <li>Device User Map</li>
                        </ol>
                    </li>
                    <li>Notifications
                        <ol>
                            <li>Device active notification</li>
                            <li>Form updated notification</li>
                            <li>Others</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /. box -->
    </div>
    
    <div class="col-sm-9">
        <div class="textView">
            <label class="label">Message</label>
            <span>Hello</span>
        </div>
    </div>
</div>