<div class="" ng-controller="UserGroupController">
    <div class="row">
        <!--User Group-->
        <div class="col-md-12 col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Users</h3>
                </div>
                <div class="box-body small_view" ng-class="(SelectedUser || NewGroup || NewUser) ? 'blur' : ''">
                    <div class="row no-margin">
                        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                            <button type="button" class="btn btn-info dropdown-toggle text-uppercase" data-toggle="dropdown">{{SelectedGroup?SelectedGroup.value:'All'}}<span class="fa fa-caret-down"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="onSelectGroup(null)">All</a></li>
                                <li class="divider"></li>
                                <li ng-repeat="gp in UserGroup"><a href="javascript:void(0)" ng-click="onSelectGroup(gp)" class="text-uppercase">{{gp.value}}</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)" ng-click="onCreateGroup()" class="text-uppercase">New Group</a></li>
                            </ul>
                            <div class="btn-group">
                                <button title="Add User"  type="button" ng-click="onCreateUser()" class="btn btn-default"><i class="fa fa-plus"></i></button>
                            </div>
                            <button title="Refresh List" type="button" ng-click="loadUserGroups();loadUsers();" class="btn btn-default"><i class="fa fa-refresh"></i></button>

                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 col-xs-offset-1 no-padding">
                            <div  class="number_view_sm">
                                <label>Count</label>
                                <label class="text-info" ng-bind="Users.length || 0"></label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">
                            <div class="has-feedback">
                                <input type="text" ng-model="userGrpFilterText" class="form-control input-sm" placeholder="Filter...">
                                <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <h4 ng-show="!Users.length" class="text-center">-Empty-</h4>
                    <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="user in Users| filter:filterUser(userGrpFilterText)">
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div ng-click="onSelectUser(user)" class="widget-user-header bg-aqua-active pointer">
                                <h3 class="widget-user-username">{{user.first_name + " " + user.last_name}}</h3>
                                <h5 class="widget-user-desc"><a style="color: #fff" href="mailto:{{user.email}}">{{user.email}}</a></h5>
                            </div>
                            <div ng-click="onSelectUser(user)" class="widget-user-image pointer">                                
                                <img class="img-circle" ng-src="/service/avtar?_s=100&_u={{user._id}}" alt="User Avatar">
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">ROLE</h5>
                                            <span class="description-text"><span ng-if="user.admin" class="badge bg-red">ADMIN</span><span ng-if="!user.admin" class="badge bg-green" >USER</span></span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">GROUP</h5>
                                            <span class="description-text">
                                                <span class="badge bg-orange" >{{UserGroup[user.group].value}}</span>
                                            </span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header">35</h5>
                                            <span class="description-text">PRODUCTS</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" style="padding-top: 100px" ng-show="SelectedUser || NewGroup || NewUser">
                    <div class="col-sm-5 col-sm-offset-3" ng-show="SelectedUser">
                        <div class="box box-danger box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Profile [{{SelectedUser.first_name + " " + SelectedUser.last_name}}]</h3>
                                <div class="box-tools pull-right">
                                    <div class="box-tools pull-right">
                                        <button type="button" ng-click="onCancelSelectUser()" title="Cancel/Close" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                                    </div>                  
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-widget widget-user-2">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-yellow">
                                        <div class="widget-user-image">
                                            <img class="img-circle" ng-src="/service/avtar?_s=100&_u={{SelectedUser._id}}" alt="User Avatar">
                                        </div>
                                        <!-- /.widget-user-image -->
                                        <h3 class="widget-user-username">{{SelectedUser.first_name + " " + SelectedUser.last_name}}</h3>
                                        <h5 class="widget-user-desc">{{SelectedUser.email}}</h5>
                                        <button title="Edit Details" class="btn btn-success btn-sm pull-right" ng-show="!SelectedUser.edit && !SelectedUser.delete" ng-click="SelectedUser.edit = true"><i class="fa fa-pencil"></i></button>
                                        <button title="Save" class="btn btn-success btn-sm pull-right" ng-show="SelectedUser.edit && !SelectedUser.delete" ng-click="onUpdateUserDetails()"><i class="fa fa-floppy-o"></i></button>
                                        <button title="Delete" ng-hide="SelectedUser.delete" class="btn btn-danger btn-sm pull-right" ng-click="SelectedUser.delete = true"><i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="box-footer no-padding" ng-show="SelectedUser.delete">
                                        <div class="callout callout-info" >
                                            <h4>Delete User</h4>
                                            <p>Are you sure want to delete?</p>
                                            <button ng-click="onDeleteUser()" class="btn btn-sm btn-danger pull-right">YES</button>
                                            <button ng-click="SelectedUser.delete = false" class="btn btn-sm btn-success pull-right">NO</button>
                                        </div>
                                    </div>
                                    <div class="box-footer no-padding" ng-show="SelectedUser.edit">                                        

                                        <h4 ng-show="SelectedUser.error" class="text-danger text-center">{{SelectedUser.error}}</h4>
                                        <div class="col-sm-2">
                                            <img class="img-circle" style="width: 50px;margin: 10px" ng-src="/service/avtar?_s=100&_u={{SelectedUser._id}}" alt="User Avatar">
                                            <button title="Clear" ng-click="clearProfileImage()" class="btn btn-link" style="position: absolute;top:0;right: 0"><i class="fa fa-trash"></i></button>
                                        </div>
                                        <div class="col-sm-10">                                            
                                            <div class="form-group">
                                                <label>Profile Image</label>
                                                <input type="file" accept="image/*" onchange="angular.element(this).scope().onFileImageChange(this)" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" ng-model="SelectedUser.email" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" ng-model="SelectedUser.first_name" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" ng-model="SelectedUser.last_name" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" ng-model="SelectedUser.secret" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Re-Password</label>
                                                <input type="password" class="form-control" ng-model="SelectedUser.secret2" placeholder="Re-Password">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>User Group</label>
                                                <select class="form-control" ng-model="SelectedUser.group" ng-options="item._id as item.value for (k,item) in UserGroup">                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <input type="checkbox" class="checkbox" ng-model="SelectedUser.admin">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-sm-offset-4" ng-show="NewGroup">
                        <div class="box box-success box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">New User Group</h3>
                                <div class="box-tools pull-right">
                                    <div class="box-tools pull-right">
                                        <button type="button" ng-click="NewGroup = null" title="Cancel/Close" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                                    </div>                  
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Group Name</label>
                                    <input type="text" class="form-control" ng-model="NewGroup.value">
                                </div>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-sm btn-info" ng-click="onSaveNewGroup()">Create</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-sm-offset-3" ng-show="NewUser">
                        <div class="box box-danger box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Profile [{{NewUser.first_name + " " + NewUser.last_name}}]</h3>
                                <div class="box-tools pull-right">
                                    <div class="box-tools pull-right">
                                        <button type="button" ng-click="NewUser = null" title="Cancel/Close" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                                    </div>                  
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-widget widget-user-2">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-yellow">
                                        <div class="widget-user-image">
                                            <img class="img-circle" ng-src="{{NewUser.profile}}" alt="User Avatar">
                                        </div>
                                        <!-- /.widget-user-image -->
                                        <h3 class="widget-user-username">{{NewUser.first_name + " " + NewUser.last_name}}</h3>
                                        <h5 class="widget-user-desc">{{NewUser.email}}</h5>                                        
                                        <button title="Save" class="btn btn-success btn-sm pull-right" ng-click="onSaveUser()"><i class="fa fa-floppy-o"></i></button>
                                    </div>
                                    <div class="box-footer no-padding">
                                        <h4 ng-show="NewUser.error" class="text-danger text-center">{{NewUser.error}}</h4>
                                        <div class="col-sm-2">
                                            <img class="img-circle" style="width: 50px;margin: 10px" ng-src="{{NewUser.profile}}" alt="User Avatar">
                                            <button title="Clear" ng-click="clearProfileImage()" class="btn btn-link" style="position: absolute;top:0;right: 0"><i class="fa fa-trash"></i></button>
                                        </div>
                                        <div class="col-sm-10">                                            
                                            <div class="form-group">
                                                <label>Profile Image</label>
                                                <input type="file" accept="image/*" onchange="angular.element(this).scope().onFileImageChangeNew(this)" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" ng-model="NewUser.email" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" ng-model="NewUser.first_name" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" ng-model="NewUser.last_name" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" ng-model="NewUser.secret" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Re-Password</label>
                                                <input type="password" class="form-control" ng-model="NewUser.secret2" placeholder="Re-Password">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>User Group</label>
                                                <select class="form-control" ng-model="NewUser.group" ng-options="item._id as item.value for (k,item) in UserGroup">                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Role</label>
                                                <input type="checkbox" class="checkbox" ng-model="NewUser.admin">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div ng-show="_loadingUsers" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            </div>
        </div>
    </div>
</div>