<div class="" ng-controller="UserGroupController">
    <div class="row">
        <!--User Group-->
        <div class="col-md-3 col-xs-12" ng-hide="newUser">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">User Groups</h3>
                </div>
                <div class="box-body small_view">
                    <div class="row no-margin">
                        <div class="col-xs-6">
                            <div class="btn-group">
                                <button title="Delete Group" ng-disabled="!CurrentUserGroup || UserGroup.restrict" ng-click="onDeleteGroup()" type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button title="Edit Group" ng-disabled="!CurrentUserGroup" ng-click="onEditUserGroup()" type="button" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></button>
                                <button title="Create New Group" ng-disabled="CurrentUserGroup_Edit" type="button" ng-click="onCreateGroup()()" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                            <button title="Refresh List" type="button" ng-click="loadUserGroups()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        </div>
                        <div class="col-xs-1 no-padding">
                            <div  class="number_view_sm">
                                <label>Count</label>
                                <label class="text-info" ng-bind="UserGroup.length || 0"></label>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="has-feedback">
                                <input type="text" ng-model="userGrpFilterText" class="form-control input-sm" placeholder="Filter...">
                                <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <h4 ng-show="!UserGroup.length" class="text-center">-Empty-</h4>
                    <div class="list-group">
                        <a href="javascript:void(0)"   ng-click="onSelectUserGroup(userGrp);" class="list-group-item" ng-class="CurrentUserGroup == userGrp ? 'active' : ''" ng-repeat="userGrp in UserGroup|filter:{group_name:userGrpFilterText}">
                            <strong class="text-uppercase"><i class="fa fa-users"></i>  {{userGrp.group_name}}</strong>
                            <p class="text-muted"><i>Created on</i> <b>{{userGrp.history.created.date|date}}</b></p>
                            <p class="text-right">
                                <span ng-if="userGrp.access_admin" class="label label-danger"><i class="fa fa-user-secret"></i> Supper</span>
                                <span ng-if="userGrp.access_setting" class="label label-warning"><i class="fa fa-cog"></i> Settings</span>
                                <span ng-if="userGrp.access_billing" class="label label-success"><i class="fa fa-dollar"></i> Billing</span>
                                <span ng-if="userGrp.access_user" class="label label-info"><i class="fa fa-user"></i> Users</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div ng-show="_loadingGroups" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
        <!--New Group-->
        <div class="col-md-3 col-xs-12 widget widget_tally_box" ng-show="newGroup">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">New User Group</h3>         
                    <div class="box-tools pull-right">
                        <button type="button" ng-click="newGroup = null" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>            
                    </div>
                </div>                
                <div class="box-body small_view3">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <label>Group Name</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="newGroup.group_name" />
                        </div>
                    </div>
                    <div class="clearfix" style="height: 10px"></div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Admin Privilege</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="newGroup.access_admin">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access User Profiles</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="newGroup.access_user">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access To Change Form</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="newGroup.access_meta">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access Settings</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="newGroup.access_setting">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access Billing</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="newGroup.access_billing">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-sm btn-info" ng-click="onSaveGroup()">Create</button>
                    <button class="btn btn-sm btn-danger" ng-click="newGroup = null">Cancel</button>
                </div>
            </div>
        </div>
        <!--Edit Group-->
        <div class="col-md-3 col-xs-12" ng-show="CurrentUserGroup_Edit">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Group [{{CurrentUserGroup_Edit.group_name}}]</h3>         
                    <div class="box-tools pull-right">
                        <button type="button" ng-click="onEditGroupCancel()" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>            
                    </div>
                </div>
                <div class="box-body small_view3">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <label>Group Name</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="CurrentUserGroup_Edit.group_name" />
                        </div>
                    </div>
                    <div class="clearfix" style="height: 10px"></div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Admin Privilege</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="CurrentUserGroup_Edit.access_admin">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access User Profiles</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="CurrentUserGroup_Edit.access_user">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access To Change Form</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="CurrentUserGroup_Edit.access_meta">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access Settings</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="CurrentUserGroup_Edit.access_setting">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <label>Access Billing</label>
                        </div>
                        <div class="col-md-3">
                            <label class="switch">
                                <input type="checkbox" ng-model="CurrentUserGroup_Edit.access_billing">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-sm btn-info" ng-click="onSaveGroup(true)">Save</button>
                    <button class="btn btn-sm btn-danger" ng-click="onEditGroupCancel()">Cancel</button>
                </div>
            </div>
        </div>
        <!--Users-->
        <div class="col-md-3 col-xs-12" ng-show="CurrentUserGroup && !CurrentUserGroup_Edit">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">{{CurrentUserGroup.group_name}}'s users</h3>             
                    <div class="box-tools pull-right">
                        <button type="button" ng-hide="CurrentUserProfile" ng-click="CurrentUserGroup = null" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body small_view">
                    <div class="row no-margin">
                        <div class="col-xs-5">
                            <div class="btn-group">
                                <button title="Create New Profile" ng-disabled="CurrentUserProfile || newUser" type="button" ng-click="onCreateProfile()" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button>
                            </div>
                            <button title="Refresh List" type="button" ng-click="loadUserGroups()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        </div>
                        <div class="col-xs-1 no-padding">
                            <div  class="number_view_sm">
                                <label>Count</label>
                                <label class="text-info" ng-bind="CurrentUserGroup.users.length || 0"></label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="has-feedback">
                                <input type="text" ng-model="userFilterText" class="form-control input-sm" placeholder="Filter...">
                                <span class="glyphicon glyphicon-filter form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <ul class="users-list clearfix">
                        <li ng-class="user == CurrentUserProfile ? 'selected_user' : ''" ng-repeat="user in CurrentUserGroup.users|filter:userFilterText" style="cursor: pointer" ng-click="onSelectUserProfile(user)">
                            <img src="/_static/images/avatar_2x.png" alt="User Image">
                            <a class="users-list-name" href="javascript:void(0)" ng-bind="user.first_name"></a>
                            <span class="users-list-date" ng-bind="user.last_name"></span>
                        </li>                       
                    </ul>
                </div>
            </div>
        </div>
        <!--New User-->
        <div class="col-md-3 col-xs-12 widget widget_tally_box" ng-show="newUser">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">New Profile</h3>         
                    <div class="box-tools pull-right">
                        <button type="button" ng-click="newUser = null" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body small_view3">
                    <div class="text-danger" ng-show="newUser.error" ng-bind="newUser.error"></div>
                    <div class="form-group">
                        <label >First Name:</label>
                        <input type="text" class="form-control" ng-model="newUser.first_name" />
                    </div>
                    <div class="form-group">
                        <label >Last Name:</label>
                        <input type="text" class="form-control" ng-model="newUser.last_name" />
                    </div>
                    <div class="form-group">
                        <label >Email:</label>
                        <input type="email" class="form-control" ng-model="newUser.email" />
                    </div>
                    <div class="form-group">
                        <label >Contact:</label>
                        <input type="tel" class="form-control" ng-model="newUser.contact" />
                    </div>
                    <div class="form-group">
                        <label >Password:</label>
                        <input type="password" class="form-control" ng-model="newUser.secret" />
                    </div>
                    <div class="form-group">
                        <label >Re-Password:</label>
                        <input type="password" class="form-control" ng-model="newUser.secret2" />
                    </div>                    
                </div>
                <div class="box-footer">
                    <button class="btn btn-success" ng-click="onSaveProfile()">Create</button>
                </div>
            </div>
        </div>
        <!--Profile-->
        <div class="col-md-6 col-xs-12"  ng-show="CurrentUserProfile">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">User Profile</h3>   
                    <div class="box-tools pull-right">
                        <button type="button" ng-click="CurrentUserProfile = null" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>                                  
                    </div>
                </div>
                <div class="box-body small_view">
                    <div class="row">
                        
                    </div>
                    
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_left">

                        <div class="profile_img">

                            <!-- end of image cropping -->
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img class="img-responsive avatar-view" src="/_static/images/default-user.png" alt="Avatar" title="Change the avatar">

                            </div>
                            <!-- end of image cropping -->

                        </div>
                        <h3 ng-bind="CurrentUserProfile.first_name + ' ' + CurrentUserProfile.last_name">Samuel Doe</h3>

                        <ul class="list-unstyled user_data">
                            <li><i class="fa fa-map-marker user-profile-icon"></i> {{CurrentUserProfile.address}}_address</li>

                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i> {{CurrentUserProfile.email}}
                            </li>

                            <li class="m-top-xs">
                                <i class="fa fa-phone user-profile-icon"></i> {{CurrentUserProfile.contact}}
                            </li>
                        </ul>

                        <a class="btn btn-success"><i class="fa fa-key m-right-xs"></i> Reset Password</a>
                        <a class="btn btn-danger" ng-click="onDeleteProfile()"><i class="fa fa-trash m-right-xs"></i> Delete User</a>
                        <br />

                        <!-- start skills -->
                        <h4>Form Usage</h4>
                        <ul class="list-unstyled user_data">
                            <li>
                                <p>Web Applications</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                </div>
                            </li>
                            <li>
                                <p>Website Design</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                                </div>
                            </li>
                            <li>
                                <p>Automation & Testing</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                                </div>
                            </li>
                            <li>
                                <p>UI / UX</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="profile_title">
                                    <div class="col-md-6">
                                        <h2>User Activity Report</h2>
                                    </div>
                                </div>
                                <!-- start of user-activity-graph -->
                                <div id="graph_bar" style="width:100%; height:280px;"></div>
                                <!-- end of user-activity-graph -->
                            </div>
                        </div>

                        <div class="row" role="tabpanel" data-example-id="togglable-tabs" ng-init="selTab = 1">
                            <div class="col-sm-12">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a ng-click="selTab = 1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Activity</a></li>
                                    <li role="presentation" class=""><a ng-click="selTab = 2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Track</a></li>

                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in"  ng-show="selTab == 1" aria-labelledby="home-tab">

                                        <!-- start recent activity -->
                                        <ul class="messages">
                                            <li>
                                                <div class="message_date">
                                                    <h3 class="date text-info">24</h3>
                                                    <p class="month">May</p>
                                                </div>
                                                <div class="message_wrapper">
                                                    <h4 class="heading">Desmond Davison</h4>
                                                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                    <br />
                                                    <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                        <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                    </p>
                                                </div>
                                            </li>                                       

                                        </ul>
                                        <!-- end recent activity -->

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" ng-show="selTab == 2" aria-labelledby="profile-tab">
                                        <ui-gmap-google-map center="CurrentUserProfileTrack.center" zoom="CurrentUserProfileTrack.zoom" refresh="true"></ui-gmap-google-map>
                                    </div>                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>