<div class="wrapper fix_custom>">
    <header class="main-header">
        <!-- Logo -->
        <a href="../../index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>C</b>4F</span>
            <span class="logo-lg"><b>Cloud</b>4Form</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <div class="pull-left" style="margin: 14px">
                <h4 class="text-uppercase" style="display: inline;color: #fff;font-weight: bold" ng-bind="PageConfig._title">Page</h4>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">{{Profile.inbox.length||0}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have {{Profile.inbox.length||0}} messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li ng-repeat="item in Profile.inbox"><!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="/_static/images/avatar_2x.png" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">{{Profile.notif.length||0}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have {{Profile.notif.length||0}} notifications</li>
                            <li ng-repeat="notif in Profile.notif">
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>{{notif.title}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">{{Profile.tasks.length||0}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have {{Profile.tasks.length||0}} task(s)</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li ng-repeat="task in Profile.tasks"><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                {{task.title}}
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/_static/images/avatar_2x.png" class="user-image" alt="User Image">
                            <span class="hidden-xs" ng-bind="Profile.user.first_name + ' ' + Profile.user.last_name">User</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/_static/images/avatar_2x.png" class="img-circle" alt="User Image">

                                <p ng-bind="Profile.user.first_name + ' ' + Profile.user.last_name">User</p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="javascript:void(0)">History</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="javascript:void(0)">Track</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="javascript:void(0)">Report</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a ng-click="toPagehash('#/Users::' + Profile.user.path)" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/session/logout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>                   
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu menu_section">
                <li class="active" menu="Dashboard"><a ng-click="PageConfig._switch('Dashboard')"><i class="fa fa-home"></i><span> Home</span></a></li>
                <li menu="Forms"><a ng-click="PageConfig._switch('Forms')"><i class="fa fa-file"></i><span> Forms</span></a></li>
                <li menu="Data Factory"><a ng-click="PageConfig._switch('Data Factory')"><i class="fa fa-database"></i><span> Data Factory</span></a></li>
                <li menu="Users"><a ng-click="PageConfig._switch('Users')"><i class="fa fa-users"></i><span> Users</span></a></li>
                <li menu="Billing"><a ng-click="PageConfig._switch('Billing')"><i class="fa fa-money"></i><span> Billing</span></a></li>
                <li menu="Settings"><a ng-click="PageConfig._switch('Settings')"><i class="fa fa-cogs"></i><span> Settings</span></a></li>
            </ul>
        </section>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <div class="callout callout-info" ng-show="_alerts">
                <h4>Alert!</h4>
                <p ng-bind="_alerts"></p>
            </div>
            <div class="callout callout-warning" ng-show="_confirm.text">
                <h4>Confirm!</h4>
                <div class="btn-group pull-right">
                    <button title="Yes" ng-click="_confirm.yes()" type="button" class="btn btn-danger btn-sm">YES</button>
                    <button title="No" ng-click="_confirm.no()" type="button" class="btn btn-success btn-sm">NO</button>
                </div>
                <p ng-bind="_confirm.text"></p>

            </div>
            <div ng-include="PageConfig._page"></div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>